<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="public/css/styles.css">
  </head>

  <body class="bg-gray-200">

    <p class="font-permanent-marker text-center text-3xl my-10">Links to my socials</p>

    <div class="grid grid-cols-4 text-center gap-6 mx-5 lg:mx-32">

      <% for (var i = 0; i < title.length; i++) { %>
        <a class="col-span-2" href="<%= link[i] %>">
          <div class="py-5 bg-gray-300 rounded-lg shadow-lg hover:bg-gray-700 hover:text-white transition duration-500"><%= title[i] %></div>
        </a>
      <% } %>

    </div>

    <footer class="my-10 text-sm font-permanent-marker text-center">@ Hafizuddin Sharif 2020</footer>

  </body>

</html>
