<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/styles.css">
  </head>

  <body class="bg-gray-100 mt-10">

    <div class="grid grid-cols-4 mx-64 text-center gap-6">

      <a class="col-start-2 col-span-2" href="/portfolio">
        <div class="py-5 bg-gray-300 rounded-lg shadow-lg">Portfolio</div>
      </a>

      <a class="col-start-2 col-span-2" href="https://www.youtube.com/channel/UCAbwe9Gd8TD5lO_RvhT6ZgQ">
        <div class="py-5 bg-gray-300 rounded-lg shadow-lg">Youtube</div>
      </a>

      <a class="col-start-2 col-span-2" href="https://curiouscat.qa/sharifffkun">
        <div class="py-5 bg-gray-300 rounded-lg shadow-lg">Curiouscat</div>
      </a>

      <a class="col-start-2 col-span-2" href="https://github.com/HafizuddinSharif">
        <div class="py-5 bg-gray-300 rounded-lg shadow-lg">Github</div>
      </a>

      <a class="col-start-2 col-span-2" href="https://www.linkedin.com/in/hafizuddin-sharif-umar-sharif-606567160/">
        <div class="py-5 bg-gray-300 rounded-lg shadow-lg">Linkedin</div>
      </a>

      <a class="col-start-2 col-span-2" href="https://twitter.com/sharifffkun">
        <div class="py-5 bg-gray-300 rounded-lg shadow-lg">Twitter</div>
      </a>

    </div>

  </body>

</html>
